<div class="container details-form candidate-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well well-sm">
        <h1>Editing party</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @party %> |
        <%= link_to 'Back', parties_path %>
      </div>
    </div>
  </div>
</div>
