<div class="container details-form candidate-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well well-sm">
        <h1>New state</h1>

        <%= render 'form' %>

        <br />
        <%= link_to 'Back', states_path %>
      </div>
    </div>
  </div>
</div>
