//get candidate details page
@import "bootstrap.min.css";

html, body {
  height: 100%;
}
footer {
  padding: 17px 0 18px 0;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -63px;
}
.push {
  height: 20px;
}
body{
  /*background-image: image-url('bg3.jgp');*/
}
.details-form{
  input[type='text'], input[type='number'],input[type='email'], input[type='password']{
    margin: 5px 0px;
    display: block;
    width: 100%;
    height: 43px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  input[type=file]{
    @extend input[type='text'];
    padding: 8px 0px;
  }
  
  .select2-container{
    margin: 5px 0px;
  }
}

.home{
  padding: 4em 0 2em;
  background-color: #1c2533;
  background: -webkit-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  background: -o-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  background: -ms-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  background: -moz-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  /* background: linear-gradient(20deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%); */
  background-attachment: fixed;
  color: #fff;
}
.navbar{
  margin-bottom: 0px;
  border-radius: 0px;
}
#search_result{
}
