// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// landing page css

.search-container{
  margin-top: 10%;
}
.select2-container{
  width: 100%;
  color: #ffffff;

  .select2-choice{
    height: 43px;
    line-height: 43px;
    font-size: 16px;

  }
  .select2-arrow b{
    margin-top: 5px;
  }
  .select2-chosen{
    margin-left: 6px;
  }
}
.select2-results {
  font-size: 15px;
}
.search_button{
  width: 100%;
}
.state, .constituency{
  margin-bottom: 25px;
}


