<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
		<%= link_to "Election 2014" ,root_path, :class=>'navbar-brand'%>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
  </div>
</div>
