<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Election Watch" ,root_path, :class=>'navbar-brand'%>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="http://fsftn.org/about/" target="_blank">FSFTN</a>
      </li>
      <% if admin_signed_in? %>
      <li> <%= link_to "Add candidate", add_candidate_path %></li>
      <li> <%= link_to "Logout", destroy_admin_session_path, method: 'delete'%></li>
      <% end %>
    </ul>
  </div>
</div>
